* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--background);
  color: var(--text-default);
  font-family: Arial, sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}

.formRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}