:root {

  --gray-100: #e6e9f0;
  --gray-200: #cdd3e1;
  --gray-300: #aab3cc;
  --gray-400: #555f7d;
  --gray-500: #454f6a;
  --gray-600: #363d56;
  --gray-700: #121214; 
  --gray-800: #0D0D0F; 
  --gray-900: #070708; 

  --primary-light: #9466FF; 
  --primary: #8257E5;   
  --primary-dark: #633BBC;  


  --text-default: #FFFFFF;  
  --text-muted: #aab3cc;
  --text-over-primary: #FFFFFF; 

  --link-color: #8257E5;
  --link-hover: #9466FF;
  --success: #22c55e;
  --warning: #eab308;
  --error: #991b1b;
  --info: #0ea5e9;
  
  --disabled: #555f7d;
  --text-disabled: #aab3cc;
}

.light-theme {
  --gray-900: #FFFFFF;     
  --gray-800: #F0F2F5;       
  --gray-700: #E1E3E6;
  
  --text-default: #1A1A1E; 
  --text-muted: #666666;


  --primary: #8257E5;  
  --primary-light: #9466FF;  
  --primary-dark: #633BBC;   
  
  --link-color: #8257E5;
  --link-hover: #633BBC;
  
  --text-over-primary: #FFFFFF; 
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  

  transition: background-color 0.4s, color 0.4s;
  
  background-color: var(--gray-900);
  color: var(--text-default);
}